:root {
    --primary: #1BA8FF;
    --secondary: #C0C0C0;
    --bg-color: linear-gradient(to right, #2E81FF, #08CCFF);
    --font-primary: #fff;
    --font-secondary: #666;
    --button: #3EC487;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    align-items: center;
    background-image: var(--bg-color);
    color: var(--font-primary);
    display: flex;
    height: 25vh;
    justify-content: center;
    margin-bottom: 20px;
}

.main-section {
    display: flex;
    flex-direction: column;
    
}

.operation, .select {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 8px var(--secondary);
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 15px 10px;
}

.operation h2 {
    color: var(--font-secondary);
    text-transform: uppercase;
}

.flags {
    align-items: center;
    display: flex;
    flex-grow: 0.2;
    justify-content: space-around;
}

.flags img {
    border-radius: 15%;
}

.select {
    padding: 25px 0;
}

.sell-currency, .buy-currency {
    border: 0px;
    padding: 10px;
}

.convert-button {
    background-color: var(--button);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    color: var(--font-primary);
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 20px 10px;
    text-transform: uppercase;
    width: 250px;
}